@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Parola uitata";
}


<div class="d-flex align-items-center justify-content-center">
    <form method="post">
        <h1>Parola uitata.</h1>
        <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nume@exemplu.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reseteaza Parola</button>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
