@page
@model RegisterModel
@{
    ViewData["Title"] = "Inregistrare";
}



<div class="d-flex align-items-center justify-content-center">

        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h1>Inregistrare</h1>
            <hr />
            <br />  
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nume@exemplu.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="parola" />
                <label asp-for="Input.Password">Parola</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="parola" />
                <label asp-for="Input.ConfirmPassword">Confirma Parola</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Inregistrare</button>
        </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
