@using ProiectLicenta.ViewModels;
@model AddDaunatorViewModel;
@{
    ViewData["Title"] = "Adaugare Daunatori";
}
<h1 class="  fw-bold pb-2 pb-xl-3 text-center">Adaugare Daunatori</h1>
<div>
    <input class="btn btn-warning mb-3" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "Daunatori") + "'");" />
<div asp-controller="Daunatori" asp-action="Adaugare" class="bd-example">
    
    <form method="post">

        <div class=" form-floating mb-3">
            <input id="floatingInput" class="form-control" placeholder="Denumire" asp-for="Denumire" />
            <label for="floatingInput" asp-for="Denumire">Denumire</label>
            <span asp-validation-for="Denumire"></span>
            </div>
        <div class="">
          
            <select class="form-select form-control-lg" asp-for="CodTratament" asp-items="ViewBag.codTratament">
                <option value="0" hidden>Alege Tratament</option>
            </select>
            <span asp-validation-for="CodTratament"></span>
            </div>
            </br>
        <input class="btn btn-primary" type="submit" value="Adaugare Daunator" />
    </form>
    </div>
</div>