@{
    ViewData["Title"] = "Stergere Daunatori";
}
<h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center">Sterge Daunator</h1>
<form method="post">
   
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Selectie

            </th>
            <th>
                Cod Daunator
            </th>
            <th>
                Denumire
            </th>
            <th>
                Tratament
            </th>
        </tr>
    @foreach (var evt in ViewBag.stergere)
    {
            <tr>
                <td><input type="checkbox" name="daunatorId" value="@evt.CodDaunator" /></td>
                <td>
                    @evt.CodDaunator
                </td>
                <td>
                    @evt.Denumire
                </td>
                <td>
                    @evt.CodTratament
                </td>
            </tr>
    }
    </table>
        <input type="submit" value="Stergere" name="Stergere" class="btn btn-danger" /></
        
</form>


