@using ProiectLicenta.ViewModels;
@model AddRegistruTratamenteViewModel;
@{
    ViewData["Title"] = "Editare Tratament";
}
<h1 class=" fw-bold pb-2 pb-xl-3 text-center"><i class="bi bi-pencil-fill"></i> Editare Tratament Aplicat</h1>
<div>
    <a href="@Url.Action("Index","RegistruTratamente")"><i class="bi bi-arrow-left-square-fill link-warning h1"></i></a>
    <div asp-controller="RegistruTratamente" asp-action="Editare" class="bd-example">
        <form method="post">
            <div class="mt-3 mb-3">
                <select class="form-select form-control-lg" asp-for="CodParcela" asp-items="ViewBag.codParcela">
                    <option value="0" hidden>Alege Parcela</option>
            </select>
                <span class="text-danger" asp-validation-for="CodParcela"></span>
            </div>
            <div class="mb-3">
                <select class="form-select form-control-lg" asp-for="CodDaunator" asp-items="ViewBag.codDaunator">
                    <option value="0" hidden>Alege Daunator</option>
            </select>
                <span class="text-danger" asp-validation-for="CodDaunator"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Suprafata" asp-for="Suprafata" />
                <label for="floatingInput" asp-for="Suprafata">Suprafata</label>
                <span class="text-danger" asp-validation-for="Suprafata"></span>
            </div>
            <div class="mb-3">
                <select class="form-select form-control-lg" asp-for="CodAngajat" asp-items="ViewBag.codAngajat">
                    <option value="0" hidden>Alege Angajat</option>
            </select>
                <span class="text-danger" asp-validation-for="CodAngajat"></span>
            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Aplicare" asp-for="DataAplicare" />
                <label for="floatingInput" asp-for="DataAplicare">Data Aplicare</label>
                <span class="text-danger" asp-validation-for="DataAplicare"></span>
            </div>
            <div>
                <input type="hidden" asp-for="CodTratamentAplicat" />
            </div>
            <input class="btn btn-primary" type="submit" value="Editare Tratament Aplicat" />
    </form>
</div>
</div>