@{
    ViewData["Title"] = "Stergere Tratament";
}
<h1>Sterge Tratament Aplicat</h1>
<form method="post">
    @foreach (var evt in ViewBag.stergere)
    {
        <div class="form-group">
            <label>
                <span>@evt.CodTratamentAplicat   @evt.DataAplicare</span>
                <input type="checkbox" name="registruTratamenteId" value="@evt.CodTratamentAplicat" />
            </label>
        </div>
    }
    <input type="submit" name="Stergere" class="btn btn-danger" />
</form>


