@using ProiectLicenta.ViewModels;
@model AddRasadViewModel;
@{ViewData["Title"] = "Adaugare Rasaduri";}
<h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center">Adaugare Rasaduri</h1>
<div>
    <input class="btn btn-warning mb-3" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "Rasaduri") + "'");" />
    <div asp-controller="Rasaduri" asp-action="Adaugare" class="bd-example">
    <form method="post">
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Denumire" asp-for="Denumire" />
                <label for="floatingInput" asp-for="Denumire">Denumire</label>
                <span class="text-danger" asp-validation-for="Denumire"></span>
            </div>
            <div class="mb-3">
                <select class="form-select form-control-lg" asp-for="CodPlanta" asp-items="ViewBag.codPlanta">
                    <option value="0" hidden>Alege Planta</option>
                </select>
                <span class="text-danger" asp-validation-for="CodPlanta"></span>
            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Semanat" asp-for="DataSemanat" />
                <label for="floatingInput" asp-for="DataSemanat">Data Semanat</label>
                <span class="text-danger" asp-validation-for="DataSemanat"></span>
            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Maturitate" asp-for="DataMaturitate" />
                <label for="floatingInput" asp-for="DataMaturitate">Data Maturitate</label>
                <span class="text-danger" asp-validation-for="DataMaturitate"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Cantitate" asp-for="Cantitate" />
                <label for="floatingInput" asp-for="Cantitate">Numar Plante</label>
                <span class="text-danger" asp-validation-for="Cantitate"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Adaugare Rasad" />
    </form>
</div>
</div>