@using ProiectLicenta.ViewModels;
@model AddRasadViewModel;
@{ViewData["Title"] = "Editare Rasaduri";}
<h1 class="  fw-bold pb-2 pb-xl-3 text-center"><i class="bi bi-pencil-fill"></i> Editare Rasaduri</h1>
<div>
    <a href="@Url.Action("Index", "Rasaduri")"><i class="bi bi-arrow-left-square-fill link-warning h1"></i></a>
    <div asp-controller="Rasaduri" asp-action="Editare" class="bd-example">
    <form method="post">
            <div class=" form-floating mt-3 mb-3">
                <input id="floatingInput" class="form-control" placeholder="Denumire" asp-for="Denumire" />
                <label for="floatingInput" asp-for="Denumire">Denumire</label>
                <span class="text-danger" asp-validation-for="Denumire"></span>
            </div>
            <div class="form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Planta" asp-for="Planta" />
                <label for="floatingInput" asp-for="Planta">Planta</label>
                <span class="text-danger" asp-validation-for="Planta"></span>

            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Semanat" asp-for="DataSemanat" />
                <label for="floatingInput" asp-for="DataSemanat">Data Semanat</label>
                <span class="text-danger" asp-validation-for="DataSemanat"></span>
            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Maturitate" asp-for="DataMaturitate" />
                <label for="floatingInput" asp-for="DataMaturitate">Data Maturitate</label>
                <span class="text-danger" asp-validation-for="DataMaturitate"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Cantitate" asp-for="Cantitate" />
                <label for="floatingInput" asp-for="Cantitate">Numar Plante</label>
                <span class="text-danger" asp-validation-for="Cantitate"></span>
            </div>
            <div>
                <input type="hidden" asp-for="CodRasad" />
            </div>
            <input class="btn btn-primary" type="submit" value="Editare Rasad" />
    </form>
</div>
</div>