@using ProiectLicenta.ViewModels;
@model AddAngajatViewModel;
@{
    ViewData["Title"] = "Adaugare Angajati";
}


<h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center">Adaugare Angajati</h1>
<div>
    <input class="btn btn-warning mb-3" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "Angajati") + "'");" />
    <div asp-controller="Angajati" asp-action="Adaugare" class="bd-example">
        <form method="post">
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Nume" asp-for="Nume" />
                <label for="floatingInput" asp-for="Nume">Nume</label>
                <span asp-validation-for="Nume"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Prenume" asp-for="Prenume" />
                <label for="floatingInput" asp-for="Prenume">Prenume</label>
                <span asp-validation-for="Prenume"></span>
            </div>
            <div class=" form-floating mb-3">

                <input id="floatingInput" class="form-control" placeholder="Functie" asp-for="Functie" />
                <label for="floatingInput" asp-for="Functie">Functie</label>
                <span asp-validation-for="Functie"></span>
            </div>
            <div class=" form-floating mb-3">

                <input id="floatingInput" class="form-control" placeholder="Telefon" asp-for="Telefon" />
                <label for="floatingInput" asp-for="Telefon">Telefon</label>
                <span asp-validation-for="Telefon"></span>
            </div>
            <div class=" form-floating mb-3">

                <input id="floatingInput" class="form-control" placeholder="Adresa de Email" asp-for="Email" />
                <label for="floatingInput" asp-for="Email">Adresa de Email</label>
                <span asp-validation-for="Email"></span>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Adaugare Angajat" />
        </form>
    </div>



</div>
