@using ProiectLicenta.ViewModels;
@model AddAngajatViewModel;
@{
    ViewData["Title"] = "Editare Angajati";
}
<h1 class="  fw-bold pb-2 pb-xl-3 text-center"><i class="bi bi-pencil-fill"></i> Editare Angajati</h1>
<div>
    <a class="btn btn-warning me-3" href="@Url.Action("Index", "Angajati")"><i class="bi bi-arrow-left"></i> Inapoi</a>
    <div asp-controller="Angajati" asp-action="Editare" class="bd-example">
        <form method="post">
            <div class=" form-floating mt-3 mb-3">
                <input id="floatingInput" class="form-control" placeholder="Nume" asp-for="Nume" />
                <label for="floatingInput" asp-for="Nume">Nume</label>
                <span asp-validation-for="Nume"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Prenume" asp-for="Prenume" />
                <label for="floatingInput" asp-for="Prenume">Prenume</label>
                <span asp-validation-for="Prenume"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Functie" asp-for="Functie" />
                <label for="floatingInput" asp-for="Functie">Functie</label>
                <span asp-validation-for="Functie"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Telefon" asp-for="Telefon" />
                <label for="floatingInput" asp-for="Telefon">Telefon</label>
                <span asp-validation-for="Telefon"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Adresa de Email" asp-for="Email" />
                <label for="floatingInput" asp-for="Email">Adresa de Email</label>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <input type="hidden" asp-for="CodAngajat" />
            </div>
            <input class="btn btn-primary" type="submit" value="Editare Angajat" />
        </form>
    </div>



</div>
