@{
    ViewData["Title"] = "Stergere Palisare";
}
<h1>Sterge Palisare</h1>
<form method="post">
    @foreach (var evt in ViewBag.stergere)
    {
        <div class="form-group">
            <label>
                <span>@evt.CodPalisare   @evt.DataPalisare</span>
                <input type="checkbox" name="registruPalisareId" value="@evt.CodPalisare" />
            </label>
        </div>
    }
    <input type="submit" name="Stergere" class="btn btn-danger" />
</form>


