@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Date Personale";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Contul tau contine datele personale pe care le-ai oferit. Aceasta sectiune iti permite sa stergi aceste date.</p>
        <p>
            <strong>Stergerea datelor v-a duce la inchiderea contului si nu o sa se poata recupera.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sterge</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
