@using ProiectLicenta.ViewModels;
@model AddTratamentViewModel;
@{
    ViewData["Title"] = "Editare Tratamente";
}
<h1 class=" fw-bold pb-2 pb-xl-3 text-center"><i class="bi bi-pencil-fill"></i> Editare Tratamente</h1>

<div>
    <div asp-controller="Tratamente" asp-action="Editare" class="bd-example">
        <a href="@Url.Action("Index","Tratamente")"><i class="bi bi-arrow-left-square-fill link-warning h1"></i></a>
        <form method="post">
    
            <div class=" form-floating mb-3 mt-3">
                <input id="floatingInput" class="form-control" placeholder="Denumire" asp-for="Denumire" />
                <label for="floatingInput" asp-for="Denumire">Denumire</label>
                <span class="text-danger" asp-validation-for="Denumire"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Cantitate" asp-for="Cantitate" />
                <label for="floatingInput" asp-for="Cantitate">Cantitate Administrare</label>
                <span class="text-danger" asp-validation-for="Cantitate"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Perioada" asp-for="Perioada" />
                <label for="floatingInput" asp-for="Perioada">Perioada Administrare</label>
                <span class="text-danger" asp-validation-for="Perioada"></span>
            </div>
            <div>
                <input type="hidden" asp-for="CodTratament" />
            </div>
            <input class="btn btn-primary" type="submit" value="Editare Tratament" />
            

    </form>
    </div>
</div>