@using ProiectLicenta.ViewModels;
@model AddPlantaViewModel;



    <h1>Adaugare Plante</h1>
    <form method="post">
        <div asp-controller="Plante" asp-action="Adaugare" class="form-group">
            <div class="form-group">
            <label asp-for="Nume">Nume</label>
            <input asp-for="Nume" />
            <span asp-validation-for="Nume"></span>
            </div>
            <div class="form-group">
            <label asp-for="Descriere">Descriere</label>
            <input asp-for="Descriere" />
            <span asp-validation-for="Descriere"></span>
            </div>
        </div>

        <input type="submit" value="Adaugare Planta" />
    </form>

