@using ProiectLicenta.ViewModels;
@model AddParcelaViewModel;
@{
    ViewData["Title"] = "Editare Parcele";
}

<h1 class="  fw-bold pb-2 pb-xl-3 text-center"><i class="bi bi-pencil-fill"></i> Editare Parcele</h1>
<div>
    <a href="@Url.Action("Index", "Parcele")"><i class="bi bi-arrow-left-square-fill link-warning h1"></i></a>
    <div asp-controller="Parcele" asp-action="Editare" class="bd-example">
    <form method="post">
        <div class=" form-floating mt-3 mb-3">
                <input id="floatingInput" class="form-control" placeholder="Locatie" asp-for="Locatie" />
                <label for="floatingInput" asp-for="Locatie">Locatie</label>
                <span class="text-danger" asp-validation-for="Locatie"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Tip" asp-for="Tip" />
                <label for="floatingInput" asp-for="Tip">Tip</label>

                <span class="text-danger" asp-validation-for="Tip"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Suprafata (mp)" asp-for="Suprafata" />
                <label for="floatingInput" asp-for="Suprafata">Suprafata (mp)</label>

                <span class="text-danger" asp-validation-for="Suprafata"></span>
            </div>
            <div class="form-group">
                
                <select class="form-select form-control-lg" asp-for="CodRasad" asp-items="ViewBag.codRasad">
                    <option value="0" hidden>Alege Rasad</option>
                </select>
                <span class="text-danger" asp-validation-for="CodRasad"></span>
            </br>
            </div>
            <div class=" form-floating mb-3">
                <input  id="floatingInput" class="form-control" placeholder="Numar Plante" asp-for="NumarPlante" />
                <label for="floatingInput" asp-for="NumarPlante">Numar Plante</label>
                <span class="text-danger" asp-validation-for="NumarPlante"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger unstyled-list">
            </div>
            <div>
                <input type="hidden" asp-for="CodParcela" />
            </div>
            <input class="btn btn-primary" type="submit" value="Editare Parcela" />
    </form>
    </div>
</div>