@using ProiectLicenta.ViewModels;
@model AddRegistruIrigareViewModel;
@{
    ViewData["Title"] = "Adaugare Irigare";
}
<h1 class="  fw-bold pb-2 pb-xl-3 text-center">Adaugare Irigare</h1>
<div>
    <a class="btn btn-warning me-3" href="@Url.Action("Index", "RegistruIrigare")"><i class="bi bi-arrow-left"></i> Inapoi</a>
    <div asp-controller="RegistruIrigare" asp-action="Adaugare" class="form-group">
        <form method="post">
            <div class="mb-3 mt-3">
                <select class="form-select form-control-lg" asp-for="CodParcela" asp-items="ViewBag.codParcela">
                    <option value="0" hidden>Alege Parcela</option>
            </select>
                <span class="text-danger" asp-validation-for="CodParcela"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Durata Irigare" asp-for="DurataIrigare" />
                <label for="floatingInput" asp-for="DurataIrigare">Durata Irigare</label>
                <span class="text-danger" asp-validation-for="DurataIrigare"></span>
            </div>
            <div class="mb-3">
                <select class="form-select form-control-lg" asp-for="CodAngajat" asp-items="ViewBag.codAngajat">
                    <option value="0" hidden>Alege Angajat</option>
            </select>
                <span class="text-danger" asp-validation-for="CodAngajat"></span>
            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Irigare" asp-for="DataIrigare" />
                <label for="floatingInput" asp-for="DataIrigare">Data Irigare</label>
                <span class="text-danger" asp-validation-for="DataIrigare"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Adaugare Irigare" />
    </form>
</div>
</div>