@using ProiectLicenta.ViewModels;
@model AddRegistruRecoltareViewModel;
@{
    ViewData["Title"] = "Editare Recoltare";
}
<h1 class="  fw-bold pb-2 pb-xl-3 text-center"><i class="bi bi-pencil-fill"></i> Editare Recoltare</h1>
<div>
    <a href="@Url.Action("Index","RegistruRecoltare")"><i class="bi bi-arrow-left-square-fill link-warning h1"></i></a>
    <div asp-controller="RegistruRecoltare" asp-action="Editare" class="bd-example">
       <form method="post">
            <div class="mb-3 mt-3">
                <select class="form-select form-control-lg" asp-for="CodParcela" asp-items="ViewBag.codParcela">
                    <option value="0" hidden>Alege Parcela</option>
            </select>
                <span class="text-danger" asp-validation-for="CodParcela"></span>
            </div>
            <div class="mb-3">
                <select class="form-select form-control-lg" asp-for="CodAngajat" asp-items="ViewBag.codAngajat">
                    <option value="0" hidden>Alege Angajat</option>
            </select>
                <span class="text-danger" asp-validation-for="CodAngajat"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Cantitate Recoltata" asp-for="CantitateRecoltata" />
                <label for="floatingInput" asp-for="CantitateRecoltata">Cantitate Recoltata</label>
                <span class="text-danger" asp-validation-for="CantitateRecoltata"></span>
            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Recoltare" asp-for="DataRecoltare" />
                <label for="floatingInput" asp-for="DataRecoltare">Data Recoltare</label>
                <span class="text-danger" asp-validation-for="DataRecoltare"></span>
            </div>
            <div>
                <input type="hidden" asp-for="CodRecoltare" />
            </div>
            <input class="btn btn-primary" type="submit" value="Editare Recoltare" />
    </form>
</div>
</div>