@{
    ViewData["Title"] = "Stergere Recoltare";
}
<h1>Sterge Recoltare</h1>
<form method="post">
    @foreach (var evt in ViewBag.events)
    {
        <div class="form-group">
            <label>
                <span>@evt.CodRecoltare   @evt.DataRecoltare</span>
                <input type="checkbox" name="registruRecoltareId" value="@evt.CodRecoltare" />
            </label>
        </div>
    }
    <input type="submit" name="Stergere" class="btn btn-danger" />
</form>


