@using ProiectLicenta.ViewModels;
@model AddRegistruFertilizareViewModel;
@{
    ViewData["Title"] = "Adaugare Fertilizare";
}
<h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center">Adaugare Fertilizare</h1>
<div>
    <input class="btn btn-warning mb-3" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "RegistruFertilizare") + "'");" />
    <div asp-controller="RegistruFertilizare" asp-action="Adaugare" class="bd-example">
    <form method="post">
            <div class="mb-3">
                <select class="form-select form-control-lg" asp-for="CodParcela" asp-items="ViewBag.codParcela">
                 <option value="0" hidden>Alege Parcela</option>
            </select>
                <span class="text-danger" asp-validation-for="CodParcela"></span>
            </div>
            <div class=" form-floating mb-3">
                <input id="floatingInput" class="form-control" placeholder="Suprafata" asp-for="Suprafata" />
                <label for="floatingInput" asp-for="Suprafata">Suprafata</label>
                <span class="text-danger" asp-validation-for="Suprafata"></span>
            </div>
            <div class="mb-3">
                <select class="form-select form-control-lg" asp-for="CodAngajat" asp-items="ViewBag.codAngajat">
                 <option value="0" hidden>Alege Angajat</option>
            </select>
                <span class="text-danger" asp-validation-for="CodAngajat"></span>
            </div>
            <div class="form-floating date mb-3">
                <input id="floatingInput" class="form-control" placeholder="Data Fertilizare" asp-for="DataFertilizare" />
                <label for="floatingInput" asp-for="DataFertilizare">Data Fertilizare</label>
                <span class="text-danger" asp-validation-for="DataFertilizare"></span>
        </div>
            <input class="btn btn-primary" type="submit" value="Adaugare Fertilizare" />
    </form>
    </div>
</div>