@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MilianaAgro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProiectLicenta.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar  navbar-fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 shadow-sm" style="padding: 0.1rem;">
            <div class="container-fluid ">
                <a class="navbar-brand justify-content-start" style="padding:0px" asp-area="" asp-controller="Home" asp-action="Index">
                    <img height="65rpm" width="100%" src="~/Poze/milianaagro-transparent.svg" alt="MilianaAgro Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i> Acasa</a>
                        </li>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Contact"><i class="bi bi-envelope"></i> Contact</a>
                            </li>
                        }

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-journal-text"></i> Date
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <ul class="list-group list-group-flush">
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="Angajati" asp-action="Index"><i class="bi bi-person"></i> Angajati</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="Parcele" asp-action="Index"><i class="bi bi-layout-wtf"></i> Parcele</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="Rasaduri" asp-action="Index"><i class="bi bi-flower2"></i> Rasaduri</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="Daunatori" asp-action="Index"><i class="bi bi-bug-fill"></i> Daunatori</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="Tratamente" asp-action="Index"><i class="bi bi-activity"></i>Tratamente</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RegistruCopilire" asp-action="Index"><i class="bi bi-arrows-expand"></i> Registru Copilire</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RegistruFertilizare" asp-action="Index"><i class="bi bi-eyedropper"></i> Registru Fertilizare</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RegistruIrigare" asp-action="Index"><i class="bi bi-moisture"></i> Registru Irigare</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RegistruPalisare" asp-action="Index"><i class="bi bi-arrow-bar-up"></i> Registru Palisare</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RegistruRecoltare" asp-action="Index"><i class="bi bi-basket3"></i> Registru Recoltare</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RegistruTratamente" asp-action="Index"><i class="bi bi-activity"></i> Registru Tratamente</a>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav justify-content-end">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-card-list"></i> Rapoarte
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <ul class="list-group list-group-flush">
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RaportAngajati" asp-action="Index"><i class="bi bi-person"></i> Raport Angajati</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RaportParcela" asp-action="Index"><i class="bi bi-layout-wtf"></i> Raport Parcela</a>
                                            <a class="dropdown-item list-group-item list-group-item-action list-group-item-light text-center" asp-controller="RaportRasad" asp-action="Index"><i class="bi bi-flower2"></i> Raport Rasaduri</a>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        }
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav ">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="bi bi-person-badge-fill"></i> @User.Identity?.Name</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link btn-outline-danger "><i class="bi bi-power"></i> Deconectare</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-add"></i> Inregistrare</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-success" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-file-person"></i> Conectare</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#E8F0FF">
        <div class="container">
            &copy; 2024 - MilianaAgro @if (!SignInManager.IsSignedIn(User))
            {
                <span>-</span>
                <i class="bi bi-envelope"></i>
                <a asp-controller="Home" asp-action="Contact"> Contact </a>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
