@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">   
            <a class="nav-link text-dark" style="font-size:115%" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" style="font-size:115%" class="nav-link btn btn-link text-dark btn-outline-danger ">Deconectare</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" style="font-size:115%" asp-area="Identity" asp-page="/Account/Register">Inregistrare</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" style="font-size:115%" asp-area="Identity" asp-page="/Account/Login">Conectare</a>
    </li>
}
</ul>
